.actions-list {
  display: inline-block;
  margin-bottom: 0;

  & > * {
    border-right: $border-thin;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 44px;
  }

  & > *:last-child {
    border-right: none;
  }
}
