# dependencies
/node_modules/*
/.pnp
.pnp.js

# VSCode
.vscode/*

# testing
/coverage

# next.js
/.next/*
/out/

# production
/build
/webconsole-src
/artifacts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
gnb_config.json
upf_config.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
*.idea
*.rock

# binaries
webconsole