@mixin lxdui-icon-sidebar-collapse() {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' width='16px' height='16px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 0 7.743 L 6.742 14.485 L 7.899 13.329 L 2.311 7.743 L 7.899 2.157 L 6.742 1 L 0 7.743 Z M 7.899 7.743 L 14.642 14.485 L 15.797 13.329 L 10.21 7.743 L 15.797 2.157 L 14.642 1 L 7.899 7.743 Z' fill='%23FFF' style=''/%3E%3C/svg%3E");
}

@mixin navbar-collapse-icon {
  .p-icon--sidebar-toggle {
    @extend %icon;
    @include lxdui-icon-sidebar-collapse;
  }
}

@include navbar-collapse-icon;

.logo {
  .logo-tag {
      background-color: #e95420;
      height: 2.2rem;
      position: absolute;
      top: 0;
      width: 1.313rem;
  }

  .logo-image {
      bottom: 0.125rem;
      height: 1rem;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      width: 1rem;
  }

  .logo-text {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .l-navigation.is-collapsed .logo-text {
    color: $colors--dark-theme--background-default;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .l-navigation {
    transition-duration: 0s !important;
  }
}

@media screen and (min-width: $breakpoint-x-small) and (max-width: $breakpoint-small - 1px) {
  .l-navigation__drawer {
    width: 17rem;
  }
}

.l-navigation.is-collapsed:focus-within {
  transform: translateX(-100%);
}

@media screen and (min-width: $breakpoint-small) {
  .l-navigation.is-collapsed,
  .l-navigation.is-collapsed:focus-within,
  .l-navigation.is-collapsed:hover {
    transform: translateX(0);
    width: 4rem;
  }
}

.l-navigation .p-panel__content {
  padding-bottom: 0;
}

.l-navigation .p-panel__header {
  z-index: 1001;
}

.sidenav-top-ul::after {
  display: none;
}

.sidenav-bottom-ul {
  bottom: $spv--x-large;
  position: absolute;
  width: 15rem;
}

.sidenav-toggle-wrapper {
  background: $colors--dark-theme--background-default;
  bottom: 0;
  padding: $spv--small $sph--x-large $spv--large $sph--large;
  position: absolute;
  text-align: right;
  width: 100%;

  .sidenav-toggle {
    background-color: #444 !important;
  }
}

.l-navigation.is-collapsed .sidenav-toggle-wrapper {
  text-align: left;

  .sidenav-toggle {
    rotate: 180deg;
  }
}

.p-side-navigation__item--title {
  white-space: nowrap;
}

.device-group-action-button {
  color: #666;
  font-size: small;
}
